apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infrastructure-config
  namespace: flux-system
spec:
  interval: 10m
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./kubernetes/infrastructure-config
  prune: true
  wait: true
  timeout: 5m
  dependsOn:
    - name: infrastructure
