apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 30m
  timeout: 5m
  dependsOn:
    - name: cert-manager
      namespace: cert-manager
  chart:
    spec:
      chart: traefik
      version: "38.0.2"
      interval: 60m
      sourceRef:
        kind: HelmRepository
        name: traefik
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    providers:
      kubernetesIngress:
        enabled: false
      kubernetesGateway:
        enabled: true
    gateway:
      enabled: true
      name: traefik-gateway
      listeners:
        websecure:
          port: 8443
          protocol: HTTPS
          hostname: "*.catinthehack.ca"
          certificateRefs:
            - name: wildcard-catinthehack-ca-tls
          namespacePolicy:
            from: All
    ports:
      web:
        hostPort: 80
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        hostPort: 443
    service:
      type: ClusterIP
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 256Mi
