apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
  namespace: headlamp
spec:
  interval: 30m
  timeout: 5m
  chart:
    spec:
      chart: headlamp
      version: "0.40.0"
      interval: 60m
      sourceRef:
        kind: HelmRepository
        name: headlamp
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    clusterRoleBinding:
      create: true
      clusterRoleName: cluster-admin
    config:
      oidc:
        clientID: "${HEADLAMP_CONFIG_OIDC_CLIENT_ID}"
        clientSecret: "${HEADLAMP_CONFIG_OIDC_CLIENT_SECRET}"
        issuerURL: "https://auth.catinthehack.ca/application/o/headlamp/"
        scopes: "openid,profile,email"
    service:
      type: ClusterIP
      port: 80
    securityContext:
      runAsNonRoot: true
      privileged: false
      runAsUser: 100
      runAsGroup: 101
      allowPrivilegeEscalation: false
      seccompProfile:
        type: RuntimeDefault
      capabilities:
        drop:
          - ALL
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 128Mi
  valuesFrom:
    - kind: Secret
      name: headlamp-oidc
      valuesKey: HEADLAMP_CONFIG_OIDC_CLIENT_ID
      targetPath: config.oidc.clientID
    - kind: Secret
      name: headlamp-oidc
      valuesKey: HEADLAMP_CONFIG_OIDC_CLIENT_SECRET
      targetPath: config.oidc.clientSecret
