apiVersion: v1
kind: ConfigMap
metadata:
  name: authentik-blueprints
  namespace: authentik
data:
  01-forward-auth-provider.yaml: |
    version: 1
    metadata:
      name: Forward Auth Provider
    entries:
      - model: authentik_providers_proxy.proxyprovider
        id: forward-auth-provider
        identifiers:
          name: traefik-forward-auth
        attrs:
          authorization_flow: !Find [authentik_flows.flow, [slug, default-authentication-flow]]
          invalidation_flow: !Find [authentik_flows.flow, [slug, default-invalidation-flow]]
          mode: forward_domain
          external_host: https://auth.catinthehack.ca
          cookie_domain: catinthehack.ca
          access_token_validity: hours=24

      - model: authentik_core.application
        identifiers:
          slug: traefik-forward-auth
        attrs:
          name: Cluster Services
          provider: !KeyOf forward-auth-provider
          meta_launch_url: "blank://blank"

  02-proxy-outpost.yaml: |
    version: 1
    metadata:
      name: Proxy Outpost
    entries:
      - model: authentik_outposts.outpost
        identifiers:
          name: traefik-outpost
        attrs:
          type: proxy
          service_connection: !Find [authentik_outposts.kubernetesserviceconnection, [name, Local Kubernetes Cluster]]
          providers:
            - !Find [authentik_providers_proxy.proxyprovider, [name, traefik-forward-auth]]
          config:
            authentik_host: http://authentik-server.authentik.svc:80
            authentik_host_browser: https://auth.catinthehack.ca
            kubernetes_namespace: authentik

  03-headlamp-oidc-provider.yaml: |
    version: 1
    metadata:
      name: Headlamp OIDC Provider
    entries:
      - model: authentik_providers_oauth2.oauth2provider
        id: headlamp-provider
        identifiers:
          name: headlamp
        attrs:
          client_type: confidential
          client_id: !Env HEADLAMP_OIDC_CLIENT_ID
          client_secret: !Env HEADLAMP_OIDC_CLIENT_SECRET
          authorization_flow: !Find [authentik_flows.flow, [slug, default-authentication-flow]]
          invalidation_flow: !Find [authentik_flows.flow, [slug, default-invalidation-flow]]
          redirect_uris: "https://headlamp.catinthehack.ca/oidc-callback"
          signing_key: !Find [authentik_crypto.certificatekeypair, [name, authentik Self-signed Certificate]]
          property_mappings:
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, openid]]
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, profile]]
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, email]]

      - model: authentik_core.application
        identifiers:
          slug: headlamp
        attrs:
          name: Headlamp
          provider: !KeyOf headlamp-provider
          meta_launch_url: "https://headlamp.catinthehack.ca"
