apiVersion: v1
kind: ConfigMap
metadata:
  name: authentik-blueprints
  namespace: authentik
data:
  01-forward-auth-provider.yaml: |
    version: 1
    metadata:
      name: Forward Auth Provider
    entries:
      - model: authentik_providers_proxy.proxyprovider
        id: forward-auth-provider
        identifiers:
          name: traefik-forward-auth
        attrs:
          authorization_flow: !Find [authentik_flows.flow, [slug, default-authentication-flow]]
          invalidation_flow: !Find [authentik_flows.flow, [slug, default-invalidation-flow]]
          mode: forward_domain
          external_host: https://auth.catinthehack.ca
          cookie_domain: catinthehack.ca
          access_token_validity: hours=24

      - model: authentik_core.application
        identifiers:
          slug: traefik-forward-auth
        attrs:
          name: Cluster Services
          provider: !KeyOf forward-auth-provider
          meta_launch_url: "blank://blank"

  02-proxy-outpost.yaml: |
    version: 1
    metadata:
      name: Proxy Outpost
    entries:
      - model: authentik_outposts.outpost
        identifiers:
          name: traefik-outpost
        attrs:
          type: proxy
          providers:
            - !Find [authentik_providers_proxy.proxyprovider, [name, traefik-forward-auth]]
          config:
            authentik_host: http://authentik-server.authentik.svc:80
            kubernetes_disabled: true
