apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
  namespace: authentik
spec:
  interval: 30m
  timeout: 10m
  dependsOn:
    - name: postgres-cluster
      namespace: postgres
  chart:
    spec:
      chart: authentik
      version: "2025.12.4"
      interval: 60m
      sourceRef:
        kind: HelmRepository
        name: authentik
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    authentik:
      existingSecret:
        secretName: authentik-secrets

    server:
      resources:
        requests:
          cpu: 50m
          memory: 256Mi
        limits:
          memory: 512Mi

    worker:
      resources:
        requests:
          cpu: 25m
          memory: 128Mi
        limits:
          memory: 256Mi

    blueprints:
      configMaps:
        - authentik-blueprints

    global:
      env:
        - name: AUTHENTIK_ERROR_REPORTING__ENABLED
          value: "false"
