apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kyverno
  namespace: kyverno
spec:
  interval: 30m
  timeout: 5m
  chart:
    spec:
      chart: kyverno
      version: "3.7.1"
      interval: 60m
      sourceRef:
        kind: HelmRepository
        name: kyverno
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    admissionController:
      replicas: 1
      rbac:
        clusterRole:
          extraResources:
            - apiGroups:
                - traefik.io
              resources:
                - middlewares
              verbs:
                - get
                - list
      container:
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            memory: 384Mi
    backgroundController:
      rbac:
        clusterRole:
          extraResources:
            - apiGroups:
                - traefik.io
              resources:
                - middlewares
              verbs:
                - create
                - get
                - list
                - update
                - delete
      resources:
        requests:
          cpu: 25m
          memory: 64Mi
        limits:
          memory: 256Mi
    cleanupController:
      resources:
        requests:
          cpu: 25m
          memory: 64Mi
        limits:
          memory: 128Mi
    reportsController:
      resources:
        requests:
          cpu: 25m
          memory: 64Mi
        limits:
          memory: 256Mi
